* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
header {
    background-color: rgb(208, 196, 221);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 1rem;
}

header>div {
    display: flex;
    align-items: center;
    color: rgb(36, 3, 44); 
}

h1{
    text-align: center;
    text-shadow: 2px;
    color: blueviolet;
    padding-top: 2rem;
    font-size: 3rem;
}

h2{
    text-align: center;
    text-shadow: 2px;
    color: rgb(252, 70, 191);
    font-size: 2rem;
}

h5{
    width: 50%;
    padding: auto;
    text-align:center;
    font-size: 1.3rem;
    color: rgb(127, 4, 151); 
    padding-bottom: 2rem;
}
 
nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(36, 3, 43);
    text-decoration: none;
    margin-left: 1rem;
    
        
}
  
a:hover{
    background-color: blueviolet;
    color: white;
}

.logo{
    width: 90%;
    height: 3rem;
    top: 7px;
    left: 90%;
    
}
footer{
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 1rem ;
}

footer h3{
    color: rgb(26, 3, 31);
    font-size: 1rem;
    height: 5vh;

}

footer {
    background-color: rgb(208, 196, 221);
}


.banner{

    width: 60%;
    padding-top: 2rem;
         
}

.text1 {
    width: 50%;
    padding: 5rem;
    text-align:right;
    font-size: 1.3rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem; 
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin: 1rem;
}

.img1 {
    width: 50%;
    padding: 2rem;
    
}

.twocolumns {
    width: 40%;
    padding: 2rem;
}

.text2 {
    width: 50%;
    padding: 5rem;
    text-align:left;
    font-size: 1.3rem;
    color: rgb(127, 4, 151); 
}


#cont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

#cont2 {
    display: flex;
    align-items: center;
    object-fit: contain;
    gap: 1rem;
    color: rgb(127, 4, 151);   
    
}

.cont3{
    display: flex;
    justify-content: center;
    object-fit: contain;
    gap: 1rem;
    color: rgb(127, 4, 151); 
}

.contact{

    width: 60%;
    padding-top: 2rem;
    
         
}

#cont4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.data {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

table,tr,th,td {
    border: 2px solid rgb(111, 21, 114);
    border-collapse: collapse;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

th{
    font-size: 2rem;
    padding: 1rem;
    color: blueviolet;
    background-color: rgb(218, 201, 235);
}

td{
    font-size: 1.5rem;
    padding: 2rem;
    color: blueviolet;
    background-color: rgb(218, 201, 235);
}

ul {
    list-style-type: square;
    margin-left: 1rem;
    font-size: 1.3rem;
    padding: 1rem;
}

ol {
   
    margin-left: 0rem;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 1rem;
}

.list{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin: 3rem;
    /* display: flex; */

}
li{
    color: rgb(61, 6, 63);
}

#fotos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    object-fit: contain;

}
#listpic{
    display: flex;
    gap: 1rem;
    align-items:center;
}

.pic{
    width: 65%;
    margin: 1rem;

}





